@model UPDF.Models.Nevezes

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Nevezes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KoreoCim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KoreoCim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZenePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZenePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CsapatAzonNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CsapatAzonNavigation.Azon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KategoriaAzonNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KategoriaAzonNavigation.Azon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KorcsoportAzonNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KorcsoportAzonNavigation.Azon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RogzitoAzonNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RogzitoAzonNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VersenySzamAzonNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VersenySzamAzonNavigation.Azon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VersenyzoAzonNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VersenyzoAzonNavigation.SirAzon)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Azon" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
